.dialogue {
    display: grid;
    grid-template-areas:
        "avatar name"
        "preview preview";
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}

.dialogue:hover {
    background: #f8f8f8;
    transition: background-color 100ms;
}

.userpic {
    width: 30px;
    height: 30px;
    grid-area: avatar;
}

.name {
    grid-area: name;
}

.preview {
    grid-area: preview;
    font-size: 0.8rem;
    color: var(--light-text-color);
    height: 20px;
    overflow: hidden;
    margin: 0.5rem 0 0;
}