.chat {
    height: 600px;
    overflow-y: auto;
}

.message {
    display: grid;
    grid-template-areas:
        "avatar text"
        "avatar time";
    grid-template-columns: 40px 1fr;
    gap: 0.2rem;
}

.message:not(:last-child) {
    margin: 0 0 1rem;
}

.text {
    border-radius: 0 0.5rem 0.5rem;
    background: #f1f1f1;
    padding: 0.6rem;
    grid-area: text;
    width: 80%;
}

.userpic {
    width: 30px;
    height: 30px;
    grid-area: avatar;
}

.time {
    grid-area: time;
    color: var(--light-text-color);
    font-size: 0.7rem;
}