.posts {
    display: grid;
    justify-items: start;
    grid-gap: 0.6rem;
    margin: 1rem 0 0;
}

.add_post_form {
    width: 100%;
}

.posts textarea {
    margin: 0 0 0.8rem;
}

.posts button {
    margin: 0 0 0.8rem;
}